<mat-card class="example-card">

  <button *ngIf='isBtnVisible' (click)='delete(keyCode)' mat-mini-fab><i class="material-icons">
      clear
    </i></button>
  <div routerLink='details/{{keyCode.key}}'>
    <mat-card-header>

      <mat-card-title>
        Author name: {{ author }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ title }}
      </mat-card-subtitle>

    </mat-card-header>

    <img class="border-radius" mat-card-sm-image src='{{src}}' (error)="photoErrorHandler($event)">

    <h5 class="red">
      {{ type }}
    </h5>

    <mat-card-content>
      <p class="description">
        {{ description }}
      </p>
    </mat-card-content>

    <p>
      Viable to {{ date | date }}
    </p>
  </div>
</mat-card>