@import "../../../colors.scss";

mat-card{
    margin: 45px;
    box-shadow: 0 0 20px 2px $grey-1;

    mat-card-header{
        display: flex;
        justify-content: space-between;
    }
}
.example-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    button{
        align-self: flex-end;
    }
}

.red{
    color: red;
}

.border-radius{
    border-radius: 10px;
    margin: 5px 0;
}
.description{
    font-size: 13pt;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .4px;
    white-space: pre-wrap;
}