@import '~bootstrap/dist/css/bootstrap.min.css';

.jumbotron{
    padding-top: 5%;
    
    form{
        margin-left: 40%;

        .form-control{
            width: 25%;
        }
    }
}

.margin-bottom{
    margin-bottom: 0px;
    padding-top: 0px;
    height: 55vh;
}
.margin-leftAndTop{
    margin-left: 5%;
    margin-top:2.5%;
}