@import "../colors.scss";

.main{
    width: 80%;
    box-shadow: 0 0 20px 5px $grey-1;
    margin: 0 auto;

    header{
        height: 15vh;
        background-color: $black-1;

        button{
            font-weight: bold;
            margin: 10px;
            font-size: 1.2rem;
        }
    }
    footer{
        height: 15vh;
        background-color: $blue-2;
        padding: 3%;

        p{
            color: $white-1;
        }
    }
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black-2;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay-show {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: $white-1;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;

    h2 {
      margin-top: 0;
      color: $grey-2;
      font-family: Tahoma, Arial, sans-serif;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: $grey-2;
    }
    .close:hover {
      color: $green-1;
    }
    .content {
      max-height: 30%;
      overflow: auto;
    }
  }