<!--The content below is only a placeholder and can be replaced.-->


<div class='main'>
  <header>
    <nav>
      <a routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"><button
          mat-button>Home</button></a>
      <a *ngIf='!logged' routerLink='/register' routerLinkActive='active'><button mat-button>Sign up/in</button></a>
      <button *ngIf='logged' mat-button (click)='logOut()'>Logout</button>

      <button routerLink='/user-account' routerLinkActive='active' style='float: right;' mat-button>
        <div>{{ userEmail }} <p *ngIf='admin'>ADMIN</p>
        </div>
      </button>
    </nav>



    <div class="overlay" *ngIf='checkEmail'>
      <div class="popup">
        <h2>Check email</h2>
        <a (click)='hideCheckEmail()' class="close">&times;</a>
        <div class="content">Check your email. Message was sent to your email address.</div>
      </div>
    </div>


    <div class="overlay" *ngIf='changed'>
      <div class="popup">
        <h2>Changes applied</h2>
        <a (click)='hideChanged()' class="close">&times;</a>
        <div class="content">Changes were successfully applied!</div>
      </div>
    </div>


    <div class="overlay" *ngIf='alreadyReg'>
      <div class="popup">
        <h2>User is alredy signed up!</h2>
        <a (click)='hideAlreadyReg()' class="close">&times;</a>
        <div class="content">Maybe you tried to sign IN instead.</div>
      </div>
    </div>



    <div class="overlay" *ngIf='deletedAcc'>
      <div class="popup">
        <h2>Account deleted</h2>
        <a (click)='hideCheckEmail()' class="close">&times;</a>
        <div class="content">Account was successfully deleted!</div>
      </div>
    </div>



    <div id="popup1" class="overlay" *ngIf='showModal'>
      <div class="popup">
        <h2>Quiting?</h2>
        <a (click)='hideModal()' class="close">&times;</a>
        <div class="content">
          If you log out, next time you need to sign in again.

          <button mat-button (click)='logOut2()'>Logout</button>
        </div>
      </div>
    </div>



  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&reg;Bohdan Onufriychuk&trade;</p>
  </footer>
</div>