/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";

.active button{color: $blue-1;}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.disabled{
    cursor: not-allowed;
}
