@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../../colors.scss";

.cont1{
    background-color: $black-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button{
        border: 0;
        margin-top: 5%;
    }
    h2{
        font-size: 4rem;
        color: $white-1;
    }   
    .create{
        border-radius: 10px;
        cursor: pointer;
        background-color: $green-2;
        color: $white-1;
        padding: 10px;
        font-weight: 800;
        margin: 5%;
        font-size: 1.2rem;
    }
}
.cont{

    form{
        margin: 5%;
        box-shadow: 0 0 20px 2px $grey-1;
        height: fit-content;
        top: 0;
        position: sticky;
        padding-top: 1%;
        border-radius: 5px;

        select[multiple]{
            height: 73px;
        }
    }

    h2{
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.5rem;
        width: max-content;
        margin: 5% 0 5% 25%;
    }
    ul{
        list-style-type:none;
        width: max-content;
    }
}


.margin-top{
  margin-top: 5%;
}


//pagination

pagination-controls /deep/ .ngx-pagination {
  margin-left: 17.5%;
}


//spinner

.loader {
    margin-left: 200%;
    border: 16px solid $white-2;
    border-radius: 50%;
    border-top: 16px solid $blue-3;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




  .overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black-2;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay-show {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: $white-1;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;

    h2 {
      margin-top: 0;
      color: $grey-2;
      font-family: Tahoma, Arial, sans-serif;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: $grey-2;
    }
    .close:hover {
      color: $green-1;
    }
    .content {
      max-height: 30%;
      overflow: auto;
    }
  }



  //toggle

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white-3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $white-1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $blue-4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $blue-4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }