<div class="cont1">
  <h2>Home page</h2>

  <button class="create" routerLink='/create'>CREATE YOUR OWN POST</button>
</div>


<div class='cont row'>

  <form class='col'>
    <div class="form-group">
      <label for="search">Search content or title</label>
      <input class="form-control" id="search" placeholder="..." (keyup)='onSearch(s)' #s>
    </div>
    <div class="form-group">
      <label for="auth">Filter by author</label>
      <input class="form-control" id="auth" placeholder="..." (keyup)='onAuthor(a)' #a>
    </div>
    <div class="form-group">
      <label for="postType">Choose type</label>
      <select multiple class="form-control mult" id="postType" (click)='onType(t)' #t>
        <option>News</option>
        <option>Post</option>
        <option>Help</option>
      </select>
    </div>
    <div class="form-group">
      <label for="method">Sort by expiration time</label>
      <br>
      <label class="switch">
        <input type="checkbox" checked (click)='onMethod(m)' #m>
        <span class="slider round"></span>
      </label>
    </div>
  </form>
  <div class='col-6'>

    <h2>List of Posts</h2>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ul [@postsStagger]="posts" *ngIf='!showDeletedBinFlag'>

      <li *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
        <app-post name="post.description" [keyCode]='post' [date]='post.date' [posted]='post.posted'
          [author]='post.author' [title]='post.title' [type]='post.type' [description]='post.description'
          [src]='post.img'></app-post>
      </li>
      <div *ngIf='posts?.length < 1' class='loader'></div>
    </ul>
  </div>

  <div class="content" *ngIf='showDeletedBinFlag'>
    <ul>
      <i>Deleted by hrobachok1ua@gmail.com</i>
      <li *ngFor="let post of deletedArr">
        <app-post name="post.description" [keyCode]='post' [date]='post.date' [posted]='post.posted'
          [author]='post.author' [title]='post.title' [type]='post.type' [description]='post.description'
          [src]='post.img'></app-post>
      </li>
      <p *ngIf='deletedArr.length < 1'>Empty</p>
    </ul>
  </div>

  <div class="col margin-top">
    <p *ngIf='admin && !showDeletedBinFlag' (click)='showDeletedBin()' class="btn btn-danger">
      Deleted bin</p>
    <p *ngIf='admin && showDeletedBinFlag' (click)='showDeletedBin()' class="btn btn-primary">
      Get back to home page</p>
  </div>
</div>